.Officer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
  height: 100%;
}
.Officer__container {
  padding: 0.5rem;
  margin: 1rem;
}
.Officer__data, .Officer__input {
  min-height: 1.5rem;
  border: 1.5px solid black;
  outline: none;
  padding: 0.3rem;
  background-color: #fff;
  width: 15rem;
}