.Officer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    height: 100%;

    &__container {
        padding: 0.5rem;
        margin: 1rem;
    }

    &__data, &__input {
        min-height: 1.5rem;
        border: 1.5px solid black;
        outline: none;
        padding: 0.3rem;
        background-color: #fff;
        width: 15rem;
    }
}