.Officer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    height: 100%;

    &__container {
        padding: 0.5vw;
        margin: 1vw;
    }

    &__data, &__input {
        min-height: 1.5vw;
        border: 1.5px solid black;
        outline: none;
        padding: 0.3vw;
        background-color: #fff;
        width: 15vw;
    }
}