.Resident {
    height: 100vh;

    &__container {
        padding: 2vw;
    }

    &__location {
        font-size: 1.5vw;

        &-name {
            margin: 0.5vw;
            padding: 0.25vw 0.4vw;
            background-color: #dadadc;
            width: fit-content;
            border-radius: 10px;
            font-size: 1vw;
        }
    }

    &__victimInfo {
        margin-top: 5vh;
    }
}